@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");

:root {
  --x: 0.5;
  --y: 0.5;
}

body {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-width: 500px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 5em;
  padding-bottom: 5em;
}

.hero path {
  fill: transparent;
}

.hero text {
  font-size: 3em;
}

.world-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.world {
  position: absolute;
  height: 1200px;
  width: 1200px;
  max-width: 70%;
  min-width: 300px;
  top: 45%;
}

.mundo {
  width: 100%;
}

.face-container {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  max-width: 100%;
}
.cara {
  display: inline-block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;

  max-width: 100%;
  left: 0;
  top: 0;
  /* transform: translate(
    calc(-50% + 200px * var(--x)),
    calc(-50% + 200px * var(--y))
  ); */
}

.look-right {
  background-image: url(./face-right.svg);
}

.look-left {
  background-image: url(./face-left.svg);
}

.animate-face {
  animation: resize 1s forwards alternate;
}

.small {
  animation: resize 1s forwards alternate;
}

h1 {
  border: 3px solid rgb(25, 25, 221);
}

h2 {
  font-family: "Shrikhand", serif;
  border: 1px solid rgb(25, 25, 221);
  font-size: 2em;
}

section {
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  font-family: "Montserrat", sans-serif;
}

.animate-section {
  animation: show-section 1s forwards;
}

article {
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

div {
}

a {
  border: 1px dashed rgb(250, 250, 250);
}

p {
  border: 1px dashed rgb(103, 91, 163);
}

.action-call {
  grid-column: 1 / 4;
  padding: 20px;
}

.testimonial {
  background-color: antiquewhite;
}

@keyframes resize {
  from {
    max-width: 70%;
  }

  to {
    max-width: 40%;
  }
}

@keyframes show-section {
  from {
    opacity: 0%;
    transform: translateY(500px);
  }

  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

/* FONTS */
.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-style: normal;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
